* {
  font-family: Karla, Impact, sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
}

.header>img {
  width: 32px;
  height: 26px;
}

.header-title {
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-right: auto;
  margin-block: 0;
}

.header-description {
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

main{
  padding: 36px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px 15px;
}
.form-input{
  border-radius: 5px;
  font-family: Karla;
  font-weight: 400;
}
.form-btn {
  border: none;
  grid-column: 1/3;
  border-radius: 5px;
  color: white;
  font-family: Karla;
  font-weight: 700;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.meme{ 
  grid-column: 1/3;
  position: relative;

}
.meme-img{
  width: 100%;
}
.meme-text{
  font-family: Impact, sans-serif;
  font-size: 32px;
  color: aliceblue;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.top{
  top: 16px;
}
.bottom{
  position: absolute;
  bottom: 16px;
}
