*{
  font-family: Karla,impact,sans-serif;
}
body {
  margin: 0;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  background: linear-gradient(90deg,#672280 1.18%, #A626D3 100% );
  padding: 20px;
}
.header>img{
  width:32px ;
  height: 26px;
}
.header-title{
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-right: auto;
  margin-block: 0;
}
.header-description{
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
